## Conditional statement

In [ ]:
# Take input of your first name and last name and then try to validate or write multiple conditions by yourself
first_name=str(input("Enter your first name: "))
last_name=str(input("Enter your last name: "))
if first_name=='Pratiksha' and last_name=='Manjrekar':
    print("Your name is: ",first_name,last_name)
elif first_name=='pratiksha' or last_name=='manjrekar':
    print("Correct, But first letter should be capital")
else:
    print("Enter valid name")

## While

In [ ]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("This is my speed")
    count = count + 1
    if count == 10:                      # Will print 9 times
        break

In [ ]:
initial_speed = 0
final_speed = 100
#count = 1
while initial_speed < final_speed:
    print("This is my speed")
    #count = count + 1
    initial_speed = initial_speed + 1
    if initial_speed == 10:               # will print 10 times
        break

In [ ]:
initial_speed = 0
final_speed = 100
while initial_speed < final_speed:
    print("This is my speed")
    initial_speed = initial_speed + 1        # Will print 99 times

In [2]:
notes=5
i,j = 1,1
while i<notes:
    print(i)
    i =i + 1
else:
    while j<2:
        print(i)
        j=j+1

1
2
3
4
5

In [10]:
str1="My name is Pratiksha"

In [4]:
str1[::-1]

'ahskitarP si eman yM'

In [6]:
str1[3:10:3]

'nes'

In [7]:
str1[2:-6]

' name is Pra'

In [8]:
for i in str1:
    if i=='a':
        print("a is replaced")
    print(i)

M
y

n
a is replaced
a
m
e

i
s

P
r
a is replaced
a
t
i
k
s
h
a is replaced
a

In [14]:
for i in str1:
    if i=='n':
        continue
    print(i)
else:
    if i=='a':
        print('a is last character')

M
y

a
m
e

i
s

P
r
a
t
i
k
s
h
a
a is last character

In [26]:
s =  "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else :
        ss = ss + s[i]

In [27]:
ss

'ieuro'

In [28]:
len(s)

7

In [32]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("* ", end = "")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [12]:
def pattern(n):
    k=2*n - 2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            #print(end= " ")
            k=k+1
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")
pattern(5)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
n=int(input("Enter the number of rows required"))
for i in range(n,-1,-1):
    for j in range(0,i+1):
        print("*", end= " ")
    print()

Enter the number of rows required5
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
n=int(input("Enter the number of rows required"))
for i in range(n,-1,-1):
    for j in range(n-i):
        print(' ',end=" ")
    for j in range(0,i+1):
        print("*", end= " ")
    print()

Enter the number of rows required5
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [27]:
n=int(input("Enter the number of rows required"))
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=" ")
    for j in range(2*i-1):
        print("*", end= " ")
    print()

Enter the number of rows required5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [37]:
def pattern(n):
    k=2*n - 2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end= " ")
        k=k+1
        for j in range(0,i+1):
            print("*",end=" ")
        print("")
pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [35]:
n=5
k=2*n - 2
for i in range(n,-1,-1):
    for j in range(k,0,-1):
        print(end = " ")
    k=k+1
    for j in range(0,i+1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [11]:
n=9
i=0
while i<n:
    print(' ' *(n-i-1) + '* ' * (i+1))
    i =i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [16]:
i,k = 1,1

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1    
    while j<=k:
        print('*',end='')
        j=j+1
    print()
    k=k+2
    i +=1

    *
   ***
  *****
 *******
*********

In [17]:
num= int(input("Enter number of rows: "))
rows=0
while rows<num:
    rows +=1
    spaces= num-rows
    
    space_counter=0
    while space_counter<spaces :
        print(" ",end='')
        space_counter +=1
        
    k=2*rows - 1
    while(k>0):
        print("*",end='')
        k -=1
    print()

Enter number of rows: 5
    *
   ***
  *****
 *******
*********

In [18]:
n=int(input("Enter the number of rows required"))
for i in range(1,n,1):
    for j in range(n-i):
        print(' ',end=" ")
    for j in range(2*i-1):
        print("*", end= " ")
    print()

Enter the number of rows required5
        *
      * * *
    * * * * *
  * * * * * * *

In [12]:
name="Pratiksha"
contact=123456
address="Mumbai"

name,contact,address = "Pratiksha", 123456, "Mumbai"

l=["Pratiksha", 123456, 'Mumbai']
print(type(l))
len(l)

<class 'list'>

3

In [23]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [13]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
            print(n)
            
        print(type(j))

In [14]:
l[0]

'Pratiksha'

In [15]:
l[1]

123456

In [16]:
l[2]

'Mumbai'